{% extends "base.html" %}
{% block content %}

<style>
.chart-container {
    width: 400px;
    height: 400px;
    margin: 20px 0;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
</style>

<h2>Student Dashboard</h2>

<a href="/student/profile">Edit Profile</a>

<h3>Available Jobs</h3>
<table>
<tr>
    <th>Company</th>
    <th>Job Title</th>
    <th>Description</th>
    <th>Action</th>
</tr>

{% for drive in drives %}
<tr>
    <td>{{ drive.company.name }}</td>
    <td>{{ drive.job_title }}</td>
    <td>{{ drive.job_description }}</td>
    <td><a href="/student/apply/{{ drive.id }}">Apply</a></td>
</tr>
{% endfor %}
</table>

<br>
<br>

<h3>Your Applications</h3>
<table>
<tr>
    <th>Company</th>
    <th>Job</th>
    <th>Status</th>
</tr>

{% for app in applications %}
<tr>
    <td>{{ app.drive.company.name }}</td>
    <td>{{ app.drive.job_title }}</td>

    <td>
        <span style="opacity: {{ '1' if app.status == 'Applied' else '0.3' }}; color: gray;">Applied</span> →

        <span style="opacity: {{ '1' if app.status == 'Shortlisted' else '0.3' }}; color: blue;">Shortlisted</span> →

        <span style="opacity: {{ '1' if app.status == 'Interview' else '0.3' }}; color: purple;">Interview</span> →

        <span style="opacity: {{ '1' if app.status == 'Selected' else '0.3' }}; color: orange;">Selected</span> →

        <span style="opacity: {{ '1' if app.status == 'Placed' else '0.3' }}; color: green;">Placed</span>

        {% if app.status == 'Rejected' %}
            → <span style="color: darkred; font-weight: bold;">Rejected</span>
        {% endif %}
    </td>
</tr>
{% endfor %}
</table>

<br>
<br>

<h3>Application Status</h3>

<div class="chart-container">
<canvas id="studentChart"></canvas>
</div>

<h3>Placement History</h3>

<table>
<tr>
    <th>Company</th>
    <th>Job</th>
</tr>

{% for p in placements %}
<tr>
    <td>{{ p.drive.company.name }}</td>
    <td>{{ p.drive.job_title }}</td>
</tr>
{% endfor %}
</table>

<script>
fetch('/student/chart-data')
.then(res => res.json())
.then(data => {
    new Chart(document.getElementById('studentChart'), {
        type: 'pie',
        data: {
            labels: data.labels,
            datasets: [{
                data: data.values,
                backgroundColor: [
                    "gray",     // Applied
                    "blue",     // Shortlisted
                    "purple",   // Interview
                    "orange",   // Selected
                    "green",    // Placed
                    "red"       // Rejected
                ]
            }]
        }
    });
});
</script>

{% endblock %}