{% extends "base.html" %}

{% block content %}
<h2>Admin Dashboard</h2>
<p>Welcome {{ current_user.name }}</p>

<hr>

<h3>System Stats</h3>

<ul>
    <li>Total Students: {{ total_students }}</li>
    <li>Total Companies: {{ total_companies }}</li>
    <li>Total Drives: {{ total_drives }}</li>
    <li>Total Applications: {{ total_applications }}</li>
</ul>

<hr>

<h3>Admin Controls</h3>

<a href="/admin/companies">View Pending Companies</a>
<br><br>

<a href="/admin/drives">View Pending Drives</a>
<br><br>

<a href="/admin/applications">View All Applications</a>

{% endblock %}